.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 55px;

  margin: 30px 16px;
  text-align: center;
  /* background: rgba(255, 255, 255, 0.3); */
  background-image: url("../public/web-scraper-logo-1B3B41632A-seeklogo.com.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.site-layout .site-layout-background {
  background: #fff!important;
}
/* App.css */

/* Set a fixed position for the sidebar */
.ant-layout-sider {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
 
}

/* Set a fixed position for the header */
.ant-layout-header {
  position: fixed;
  width: 100%;
  z-index: 101;
  background-color: white!important;
}

/* Adjust content margin to avoid overlap with fixed sidebar and header */


/* Make the content scrollable */
.site-layout-content {
  overflow-y: auto;
  margin-top: 80px;
  background-color: white;
  height: calc(100vh - 80px); /* Adjust this value based on the height of your header */
}
